 <!--Fotter Sections-->
 {% load static %}

 <section class="footer_sec">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-4">
                          <div>
                            <h2>About Us</h2>
                            <p class="aboutpara">This Website are help you to get a Good and Healthy Diets based on your
                              Health Conditions.
                            </p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div>
                            <h2>Quick Links</h2>
                            <ul  style="color: white; ">
                              <li><a style="color: #fff; " href="{% url 'index' %}">Home</a></li>
                              <li><a style="color: #fff; " href="{% url 'index' %}">Services</a></li>
                              <li><a style="color: #fff; "href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div>
                            <iframe
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117711.93310575312!2d86.09336905871746!3d22.78400724375757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f5e31989f0e2b5%3A0xeeec8e81ce9b344!2sJamshedpur%2C%20Jharkhand!5e0!3m2!1sen!2sin!4v1688026739275!5m2!1sen!2sin"
                              style="display: block;width:100%;" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                              referrerpolicy="no-referrer-when-downgrade"></iframe>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <hr style="border-top: 1px solid #f8f9fa;">
                          <div class="text-center">
                            <span>Created By <a  style="color:#33bcd1;"  href="#">Group X</a> | <span class="far fa-copyright"></span> 2024 All right
                              reserved.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                
                
                  <script src="{% static 'js/script.js' %}"></script>
                    
                
                  <!-- Optional JavaScript -->
                  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous"></script>
                  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous"></script>
                  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                    crossorigin="anonymous"></script>


                </body>
                
                </html>